.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(216, 208, 208, 0.1);
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-form input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dcc8c8;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-form button:disabled {
    background-color: #bbb;
  }
  
  .login-form p {
    text-align: center;
    color: red;
  }
  